<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentDB.Properties.Settings.ist3dfConnectionString"
            connectionString="Data Source=146.230.177.46\ISTN3;Initial Catalog=ist3df;User ID=ist3df;Password=yn6yw4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>